version: "3.7"
# before start we need set DOCKER_TAG
x-web-common:
  &web-common
  image: "docker.pkg.github.com/irohalab/mira-resource-indexer/indexer:${DOCKER_TAG}"
  cap_add:
    - SYS_ADMIN  # ref https://github.com/GoogleChrome/puppeteer/blob/v1.12.1/docs/troubleshooting.md#running-puppeteer-in-docker
  logging:
    driver: gelf
    options:
      gelf-address: "udp://elastic:5000"

services:
  dmhy:
    << : *web-common
    command: node --title=dmhy dist/main.js
    ports:
      - "4000:4000"
    environment:
      DB_HOST: "${DB_HOST-store}"
      DB_PORT: "${DB_PORT-27017}"
      DB_USER: "${DB_USER-admin}"
      DB_PASS: "${DB_PASS-123456}"
      INDEXER_MODE: "dmhy"
      DB_NAME: "dmhy_indexer"
      SERVER_PORT: "4000"
      SENTRY_DSN: "${SENTRY_DSN}"
      APPINSIGHTS_INSTRUMENTATIONKEY: "${APPINSIGHTS_INSTRUMENTATIONKEY}"

  bangumi_moe:
    << : *web-common
    command: node --title=bangumi_moe dist/main.js
    ports:
      - "4200:4200"
    environment:
      DB_HOST: "${DB_HOST-store}"
      DB_PORT: "${DB_PORT-27017}"
      DB_USER: "${DB_USER-admin}"
      DB_PASS: "${DB_PASS-123456}"
      INDEXER_MODE: "bangumi_moe"
      DB_NAME: "bangumi_moe_indexer"
      SERVER_PORT: "4200"
      SENTRY_DSN: "${SENTRY_DSN}"
      APPINSIGHTS_INSTRUMENTATIONKEY: "${APPINSIGHTS_INSTRUMENTATIONKEY}"

  nyaa:
    << : *web-common
    command: node --title=nyaa dist/main.js
    ports:
      - "4300:4300"
    environment:
      DB_HOST: "${DB_HOST-store}"
      DB_PORT: "${DB_PORT-27017}"
      DB_USER: "${DB_USER-admin}"
      DB_PASS: "${DB_PASS-123456}"
      INDEXER_MODE: "nyaa"
      DB_NAME: "nyaa_indexer"
      SERVER_PORT: "4300"
      SENTRY_DSN: "${SENTRY_DSN}"
      APPINSIGHTS_INSTRUMENTATIONKEY: "${APPINSIGHTS_INSTRUMENTATIONKEY}"
