name: lint-and-unit-test

on:
  push:
    branches:
    - master
  pull_request:
    branches:
    - master

jobs:

  test-job:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v1
    - name: "Use Node.js 10.x"
      uses: actions/setup-node@v1
      with:
        node-version: 10.x

    - name: Install dependencies
      run: yarn install
    - name: Test code format
      run: yarn lint

    - name: Setup tmate session
      uses: mxschmitt/action-tmate@v1

    - name: Unit test and code covergae
      run: |
        docker-compose run main npm run check-coverage


    - name: Upload coverage to Codecov
      uses: codecov/codecov-action@v1.0.3
      with:
        token: ${{secrets.CODECOV_TOKEN}}
